<div class="mb-4">
    <h3 class="font-bold mb-2" for="text-Input">
      Medical Summary
    </h3>
    <div class="my-2 text-xs text-red-500">
      Do not include data that allows identification of the patient!
    </div>
    <textarea
      appAutosize
      class="h-36 appearance-none border rounded w-full px-3 placeholder:text-gray-300 leading-tight focus:outline-none focus:shadow-outline bg-white"
      id="text-Input"
      type="text"
      placeholder="Histology
Previous treatments
Biomarkers
Test values
Comorbidities
Overall health
Other relevant medical data"
      [(ngModel)]="medicalSummary"
    ></textarea>
  </div>