@font-face {
    font-family: 'GT Walsheim';
    src: url('assets/fonts/GTWalsheim-Light.otf') format('otf');
    font-weight: normal;
    font-style: normal;
  }

  body {
    font-family: 'GT Walsheim', sans-serif;
  }
  
  @import 'tailwindcss/base';
  @import 'tailwindcss/components';
  @import 'tailwindcss/utilities';